*{
    margin: 0;
    padding: 0;
}

h1 { 
    color: white
}
.body{
    width: 1170px;
    margin: 0 auto;
}
header{
    text-align: center;
    height: 100px;
    background-color: #262626;
    width: 100%;
    z-index: 12;
    position: fixed
}
.logo{
    width: 30%;
    float: left;
    line-height: 100px;
}
.logo a{
    text-decoration: none;
    font: 30px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: white
}
nav{
    float: right;
    line-height: 100px;
}
nav a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    font-size: 15px;
    margin: 0 10px;
    text-transform: uppercase;
    color: white;
}
.banner-area{
    width: 100%;
    height: 500px;
    position: fixed;
    top: 80px;
    background-image: url(sitebackground.webp);
    -webkit-backround-size: cover;
    background-size: cover;
    background-position: center center;
}
.banner-area h2{
    padding-top: 5%;
    font-size: 70px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: white;
}
.content-area{
    width: 100%;
    position: relative;
    top: 300px;
    background: rgb(44, 46, 46);
    height: 1000px;
    text-align: center;
}

.body {
    text-align: center;
    background-color: rgb(17, 18, 18);
    font-family: Arial, Helvetica, sans-serif;  
    border-top: 3px solid;
    border-bottom: 3px solid;
    color: rgb(242, 242, 242)   
}
.content-area h1{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
    color: rgb(242, 242, 242);   
}
.content-area h2{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
    color: rgb(242, 242, 242);   
}
.content-area p{
    padding: 2% 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    color: rgb(242, 242, 242);   
}

#container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
}

button {
    text-align: centre; /*not working in this area, but this is where another book can be recommended*/
    margin: 30px auto 0;
    padding: 20px 25px;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    outline: rgb(255,255,255);
    background-color: rgb(249, 158, 51);
    border-radius: 8px;
    transition-duration: 0.3s;
    width: 250px
}

/*Button changes color when you hover over it*/
button:hover {
    background-color: rgb(255, 255, 255);
    outline:rgb(249, 158, 51)
}
